name: iOS Appium Tests

on:
  workflow_dispatch: # Allows manual trigger in GitHub Actions tab

jobs:
  test-ios:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Verify Appium installation
        run: npx appium driver list

      - name: Run WDIO Tests
        run: npx wdio run ./wdio.conf.js
